html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: auto;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /*Sets the font size to 16px*/
  font-size: 16px;
  /*Sets the line-height to 1.6*/
  line-height: 1.6;
  overflow: auto;
  background: linear-gradient(315deg,
      rgba(101, 0, 94, 1) 3%,
      rgba(60, 132, 206, 1) 38%,
      rgba(48, 238, 226, 1) 68%,
      rgba(255, 25, 25, 1) 98%);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}

a {
  color: var(--primary-color);
}

li {
  list-style: none;
}

/* Header */
.page-header {
  height: 80px;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  transition: top 0.2s ease-in-out;
}

/*.page-header__item {
  flex: 0 1 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: left;
}*/

.logo {
  max-width: 60px;
}

.nav-hide {
  top: -80px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

.nav-item {
  margin-left: 3rem;
}

/*.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list li .navigation-list__item--active {
  text-decoration: none;
}*/

/* Main */
main {
  margin: 80px auto;
  width: 100%;
  padding: 0 10vw;
  min-height: 100vh;
}

section {
  padding: 15vh 0;
  margin: 0px auto;
  max-width: 1000px;
}

.reveal {
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: 2x all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

h1,
h2,
h3 {
  line-height: 1.1;
  font-weight: 800;
  margin: 0px 0px 10px;
}

p {
  line-height: 1.6;
  font-size: 16px;
}

/* Home */
.profile__portrait {
  float: left;
  margin: 40px auto;
  width: 25%;
}

.profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  padding: 0px;
  /*max-width: 700px;
  margin: 0 auto;*/
}

.intro-text-wrapper {
  text-align: left;
  max-width: 540px;
  margin-bottom: 25px;
}

.fade-in-element {
  animation: fadeIn 1s ease 0s 1 normal both;
  -webkit-animation: fadeIn 1s ease 0s 1 normal both;
  -moz-animation: fadeIn 1s ease 0s 1 normal both;
  -o-animation: fadeIn 1s ease 0s 1 normal both;
  -ms-animation: fadeIn 1s ease 0s 1 normal both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
  }

  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
  }

  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: rotateX(-100deg);
    transform-origin: top;
  }

  100% {
    opacity: 1;
    transform: rotateX(0deg);
    transform-origin: top;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: rotateX(-100deg);
    transform-origin: top;
  }

  100% {
    opacity: 1;
    transform: rotateX(0deg);
    transform-origin: top;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: rotateX(-100deg);
    transform-origin: top;
  }

  100% {
    opacity: 1;
    transform: rotateX(0deg);
    transform-origin: top;
  }
}

/* About */
.about-me-details {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-auto-flow: column;
  gap: 50px;
  width: 100%;
  height: auto;
  /*max-width: 700px;
  margin: 0 auto;*/
}

.about-me-details .about-me-text {
  display: block;
}

a:hover,
a:focus {
  /* No underlining when hovering over a link*/
  text-decoration: none;
}

a:visited {
  /* visited link */
  color: #05676e;
}

a:active {
  /* selected link */
  color: #489c79
}

button:hover,
button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.button,
button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the button */
  background-color: #357b70;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition-duration: 0.2s;
  transition-property: opacity;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}